.week-header-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 90px;
    padding-left: 90px;
    border-color: white;
    background-image: 
        repeating-linear-gradient(90deg, #CCCCCC 0 1px, transparent 1px 100%);
    background-size: 140px 90px;
    background-position: 89px 0;
}

.week-day-container {
    padding: 0.5em;
}

.date-span {
    font-size: 22.4px;
    font-weight: 600;
}

.weekday-span {
    display: block;
    font-size: 12.8px;
    font-weight: lighter;
}